h1 {
   color: white;
   text-align: center;
}

body {
	background-color: black;
   text-align: center;
}

p {
	color: white;
   font-size: 48;
   text-align: center;
}

#popup h1 {
   color: black;
   font-size: 48;
   text-align: center;
}

.cold {
   background-color: #95A5A6;
}

.chilly {
   background-color: #1ABC9C;
}

.nice {
   background-color: #2980B9;
}

.warm {
   background-color: #E67E22;
}

.hot {
   background-color: #E74C3C;
}